.flashcard-item {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.flashcard-header {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #232324;
  cursor: pointer;
  transition: color 0.2s ease;
}

.delete-button:hover {
  color: #d9363e;
}
